extends layout

block content
    #menu
        #geoloc-wrapper
            input#geocode-submit(type="button", value="geocode")
            input#geocode-location(type="textbox", placeholder="Location, place...")
    #map-canvas