doctype 5
html
    head
        title Blehrg
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
        script(src='js.js')
        script(src='/socket.io/socket.io.js')
        script(src='handlebars-1.0.0-rc.4.js')
        script(src='ember-1.0.0-rc.6.js')
    body
        h1 Test from layout
        #container
            block content